This is the home page.<br><br>

Users
<ul>
<li> <%= link_to "Signup", signup_path %> </li>
<li> Show user path </li>  
<li> Edit user path </li> 
</ul>


Accounts
<ul>
    <li> <%= link_to "New Account", new_account_path %> </li>
    <li> Show account path </li>  
    <li> Edit account path </li> 
    <li> <%= link_to "Index", accounts_path %> </li>
</ul>
    
