<% success_messages.each do |m| %>
  <div class="alert alert-success text-center" role="alert">
    <%= m %>
  </div>
<% end %>

<% danger_messages.each do |m| %>
  <div class="alert alert-danger text-center"" role="alert">
    <%= m %>
  </div>
<% end %>