<% if @accounts == [] %>

    <h5 class="h5 text-center empty-index"> You have not loaded any digitalprints. Get started <%= link_to "here", new_account_path %>! </h5>

<% else %>
    <h5 class="h5 text-center empty-index"> Add new account <%= link_to "here", new_account_path %>! </h5>

    <% @accounts.each do |account| %>

        <div class="card-container text-center">   
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title"> <%= link_to account.org_name, account_path(account) %> </h5>
                    <hr class="light">
                    <p class="card-text"> Digitalprints </p>
                        <% account.digitalprints.each do|d| %>
                            <li> <%= d.kind %> </li>
                        <% end%>
                </div>

            </div>
        </div> 

    <% end %>
<% end %>